
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkListLabel" translate="musixiseApp.workList.home.createOrEditLabel">Create or edit a WorkList</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.workList.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.workList.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content"
                    ng-model="vm.workList.content" required />
            <div ng-show="editForm.content.$invalid">
                <p class="help-block"
                    ng-show="editForm.content.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.workList.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.workList.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.workList.createtime" for="field_createtime">Createtime</label>
                <div class="input-group">
                    <input id="field_createtime" type="text" class="form-control" name="createtime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.workList.createtime" is-open="vm.datePickerOpenStatus.createtime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createtime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createtime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createtime.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.workList.userId" for="field_userId">UserId</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.workList.userId"
                    required />
            <div ng-show="editForm.userId.$invalid">
                <p class="help-block"
                    ng-show="editForm.userId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.userId.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
