<div>
    <h2>作品列表</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="work-list.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="musixiseApp.workList.home.createLabel">
                        Create new WorkList
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'musixiseApp.workList.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span translate="musixiseApp.workList.userId">UserId</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span >title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cover"><span >cover</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span translate="musixiseApp.workList.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span >status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="collectNum"><span >collectNum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createtime"><span translate="musixiseApp.workList.createtime">Createtime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workList in vm.workLists track by workList.id">
                    <td><a ui-sref="work-list-detail({id:workList.id})">{{workList.id}}</a></td>
                    <td>{{workList.userId}}</td>
                    <td>{{workList.title}}</td>
                    <td><img style="width: 50px;" class="img-thumbnail" src="{{workList.cover}}"></td>
                    <td>{{workList.url}}</td>
                    <td>

                        <span ng-show="workList.status == 0">正常</span>
                        <span ng-show="workList.status == 1">私有</span>
                        <span ng-show="workList.status == 2">删除</span>

                    </td>
                    <td>{{workList.collectNum}}</td>
                     <td>{{workList.createdDate}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="work-list-detail({id:workList.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-list.edit({id:workList.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-list.delete({id:workList.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
