
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStagesLabel" translate="musixiseApp.stages.home.createOrEditLabel">Create or edit a Stages</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stages.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stages.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.stages.status"
                    required />
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stages.createtime" for="field_createtime">Createtime</label>
                <div class="input-group">
                    <input id="field_createtime" type="text" class="form-control" name="createtime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stages.createtime" is-open="vm.datePickerOpenStatus.createtime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createtime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createtime.$invalid">
                <p class="help-block"
                    ng-show="editForm.createtime.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stages.userId" for="field_userId">UserId</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.stages.userId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stages.audienceNum" for="field_audienceNum">AudienceNum</label>
            <input type="number" class="form-control" name="audienceNum" id="field_audienceNum"
                    ng-model="vm.stages.audienceNum"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
