
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStagesFollowLabel" translate="musixiseApp.stagesFollow.home.createOrEditLabel">Create or edit a StagesFollow</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stagesFollow.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stagesFollow.musixiserUid" for="field_musixiserUid">MusixiserUid</label>
            <input type="number" class="form-control" name="musixiserUid" id="field_musixiserUid"
                    ng-model="vm.stagesFollow.musixiserUid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stagesFollow.audienceUid" for="field_audienceUid">AudienceUid</label>
            <input type="number" class="form-control" name="audienceUid" id="field_audienceUid"
                    ng-model="vm.stagesFollow.audienceUid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stagesFollow.stagesId" for="field_stagesId">StagesId</label>
            <input type="number" class="form-control" name="stagesId" id="field_stagesId"
                    ng-model="vm.stagesFollow.stagesId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stagesFollow.timestamp" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}" ng-model="vm.stagesFollow.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.stagesFollow.updatetime" for="field_updatetime">Updatetime</label>
                <div class="input-group">
                    <input id="field_updatetime" type="text" class="form-control" name="updatetime" datetime-picker="{{dateformat}}" ng-model="vm.stagesFollow.updatetime" is-open="vm.datePickerOpenStatus.updatetime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
