
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMusixiserLabel" translate="musixiseApp.musixiser.home.createOrEditLabel">Create or edit a Musixiser</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.musixiser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.realname" for="field_realname">Realname</label>
            <input type="text" class="form-control" name="realname" id="field_realname"
                    ng-model="vm.musixiser.realname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.tel" for="field_tel">Tel</label>
            <input type="text" class="form-control" name="tel" id="field_tel"
                    ng-model="vm.musixiser.tel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.musixiser.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.birth" for="field_birth">Birth</label>
            <input type="text" class="form-control" name="birth" id="field_birth"
                    ng-model="vm.musixiser.birth"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.musixiser.gender"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.smallAvatar" for="field_smallAvatar">SmallAvatar</label>
            <input type="text" class="form-control" name="smallAvatar" id="field_smallAvatar"
                    ng-model="vm.musixiser.smallAvatar"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.largeAvatar" for="field_largeAvatar">LargeAvatar</label>
            <input type="text" class="form-control" name="largeAvatar" id="field_largeAvatar"
                    ng-model="vm.musixiser.largeAvatar"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.nation" for="field_nation">Nation</label>
            <input type="text" class="form-control" name="nation" id="field_nation"
                    ng-model="vm.musixiser.nation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiser.isMaster" for="field_isMaster">IsMaster</label>
            <input type="number" class="form-control" name="isMaster" id="field_isMaster"
                    ng-model="vm.musixiser.isMaster"
                     />
        </div>

        <div class="form-group">
            <label translate="musixiseApp.musixiser.user_id" for="field_user_id">user_id</label>
            <select class="form-control" id="field_user_id" name="user_id" ng-model="vm.musixiser.user_id" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
