
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMusixiserFollowLabel" translate="musixiseApp.musixiserFollow.home.createOrEditLabel">Create or edit a MusixiserFollow</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.musixiserFollow.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiserFollow.userId" for="field_userId">UserId</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.musixiserFollow.userId"
                    required />
            <div ng-show="editForm.userId.$invalid">
                <p class="help-block"
                    ng-show="editForm.userId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.userId.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="musixiseApp.musixiserFollow.followUid" for="field_followUid">FollowUid</label>
            <input type="number" class="form-control" name="followUid" id="field_followUid"
                    ng-model="vm.musixiserFollow.followUid"
                    required />
            <div ng-show="editForm.followUid.$invalid">
                <p class="help-block"
                    ng-show="editForm.followUid.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.followUid.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
