<div>
    <h2 translate="musixiseApp.workListFollow.home.title">WorkListFollows</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="work-list-follow.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="musixiseApp.workListFollow.home.createLabel">
                        Create new WorkListFollow
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'musixiseApp.workListFollow.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="musixiseApp.workListFollow.createdDate">createdDate</span></th>
                    <th><span translate="musixiseApp.workListFollow.work">work</span></th>
                    <th><span translate="musixiseApp.workListFollow.user">user</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workListFollow in vm.workListFollows track by workListFollow.id">
                    <td><a ui-sref="work-list-follow-detail({id:workListFollow.id})">{{workListFollow.id}}</a></td>
                        <td>{{workListFollow.createdDate}}</td>
                    <td>
                        <a ui-sref="work-list-detail({id:workListFollow.work.id})">{{workListFollow.work.id}}</a>
                    </td>
                    <td>
                        {{workListFollow.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="work-list-follow-detail({id:workListFollow.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-list-follow.edit({id:workListFollow.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-list-follow.delete({id:workListFollow.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
